<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    <li class="nav-item dropdown list-group">
                        <a id="ddljquerytwo" class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" style="cursor:pointer;">Jquery Part Two</a>
                        <div class="dropdown-menu" aria-labelledby="ddljquerytwo" style="overflow:scroll; height:500px;">
                            @Html.ActionLink("Ajax Using WebService", "AjaxUsingWebService", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Handling Json Data FromWebService", "HandlingJsonDataFromWebService", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Handling Json Array FromWebService", "HandlingJsonArrayDataFromWebService", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("SaveData WebServices Ajax", "SaveDataWebServicesAjax", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Suggest Available UserNames", "SuggestAvailableUserNames", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Call Ajax Using WCFService", "CallAjaxUsingWCFService", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("LoadData OnPage Scroll UsingJquery", "LoadDataOnPageScrollUsingJquery", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Paging Using Jquery", "PagingUsingJquery", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("WindowHeightVSdocumentheight", "WindowHeightVSdocumentheight", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Jquery AutoComplete", "JqueryAutoComplete", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Jquery Accordion", "JqueryAccordion", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Jquery Tabs", "JqueryTabs", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Jquery Calendar", "JqueryDatePicker", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Jquery Slider", "JquerySlider", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Multiple Sliders", "MultipleSliders", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Range Slider", "RangeSlider", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Tool tip", "ToolTip", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Tool tip using database", "ToolTipUsingDatabase", "Home", new { @class = "dropdown-item list-group-item" })
                            @Html.ActionLink("Jquery ProgressBar", "JqueryProgressBar", "Home", new { @class = "dropdown-item list-group-item" })
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="container body-content">

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
    <div id="loading">
        <img src="@Url.Content("~/Content/images/Loader.gif")" />
    </div>
</body>

</html>
